vss-common/src/main/resources/rsc/schema/RemoteExamSchema.xml

<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015.
  ~
  ~     This file is part of VaSOLSim.
  ~
  ~     VaSOLSim is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     VaSOLSim is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with VaSOLSim.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vssRemote">
        <xs:complexType>
            <xs:sequence>

                <!-- identification info -->
                <xs:element name="information">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="remote" type="xs:string"/>
                            <xs:element name="forceSSL" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>